.footer {
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.footer__body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 70px;
}
.footer__copyright {
    color: rgba(25, 21, 21, 0.5);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
.footer__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__item {
    margin-right: 45px;
}

.footer__item a {
    text-decoration: none;
    color: rgba(25, 21, 21, 0.5);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

.footer__item a:hover {
    text-decoration: underline;
}

.footer__item:last-child {
    margin-right: 0px;
}
