{
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "trailingComma": "all",
    "printWidth": 90,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "endOfLine": "lf",

    "importOrder": [
        "^react(.*)",
        "<THIRD_PARTY_MODULES>",
        "@mui/material(.*)",
        "@mui/icons-material/(.*)",
        "src/(.*)",
        "^[../]",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
