/* there will be global app styles as reset, fonts, variables etc... */
@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');
@import './variables.css';

*,
html,
body {
    font-family: 'Roboto', system-ui, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 1322px;
    margin: 0 auto;
    position: relative;
}
