.header {
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    z-index: 20;
}
.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
}
.header__logo img {
    width: 100%;
}
.header__menu {
}
.menu {
}
.menu__list {
    display: flex;
}
.menu__item {
    margin-right: 45px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.menu__item a {
    text-decoration: none;
    color: #191515;
    transition: 0.3s all ease-in-out;
}

.menu__item a:hover {
    color: #1e55b3;
    text-decoration: underline;
}
.menu__item:last-child {
    margin-right: 0px;
}
.header__additional {
    display: flex;
    align-items: center;
}

.additional__lang {
    color: #ff5861;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-right: 27px;
}
.additional__btn {
    width: 126px;
    height: 33px;

    border-radius: 4px;
    border: none;
    background: #ff5861;

    color: #fff;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    transition: 0.3s all ease-out;
}

.additional__btn:hover {
    background-color: #bb262e;
}
