.output {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: 120px;
    right: 7px;
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.output__item {
    font-size: 20px;
}

.output__item span {
    color: var(--main-blue);
    font-weight: bold;
}
